@import "../variable/var.scss";

.bg-color {
    background-color: $background;
    padding-bottom: 0;
}

.first {
    @include variable-penengah-jati-diri-small(30px, 20px);
    text-align: center;
    display: flex;
    flex-direction: column;

    .first-content {
        h3 {
            font-family: $rubik;
            color: $black;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 36px;
        }

        .sub {
            font-family: $inter;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 28px;
            color: $text-desc;
        }

        .first-address {
            margin: 20px 0 10px 0;
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: $text-desc;
            svg {
                margin-bottom: 12px;
            }
        }
    }

    .first-img {
        margin: auto;
        margin-top: 30px;
        width: 310px;
        height: 200px;
        position: relative;
    }
}

.second {
    @include variable-penengah-jati-diri-small(30px, 0);
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;

    h3 {
        text-align: center;
        font-family: $rubik;
        font-weight: 700px;
        font-weight: bold;
        font-size: 18px;
        line-height: 36px;
    }

    .second-social {
        display: flex;
        justify-content: space-between;

        .social {
            width: 30px;
            height: 30px;
            position: relative;
        }
    }
}

.map {
    iframe {
        position: relative;
        width: 100%;
        height: 300px;
        border: 0;
    }
}

@media only screen and (min-width: 768px) {
    .first {
        @include variable-penengah-jati-diri-medium(30px, 20px);
    }

    .second {
        @include variable-penengah-jati-diri-medium(30px, 0);
        padding-bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .first {
        @include variable-penengah-jati-diri-medium(80px, 30px);
        text-align: left;
        flex-direction: row-reverse;
        padding-bottom: 50px;

        .first-content {
            margin-left: 50px;
            width: 50%;

            h3 {
                font-size: 48px;
                margin-bottom: 0;
                line-height: 57px;
            }

            .sub {
                font-size: 18px;
                margin-top: 15px;
            }

            .first-address {
                display: flex;
                align-items: center;
                line-height: 28px;

                p {
                    margin-left: 15px;
                    max-width: 60%;
                }
            }
        }

        .first-img {
            width: 430px;
            height: 400px;
        }
    }

    .second {
        @include variable-penengah-jati-diri-medium(0, 0);
        padding-top: 50px;
        padding-bottom: 50px;

        h3 {
            font-size: 36px;
        }

        .second-social {
            margin-top: 80px;

            .social {
                width: 50px;
                height: 50px;
            }
        }
    }

    .map {
        iframe {
            height: 500px;
        }
    }
}

@media only screen and (min-width: 1280px) {
    .first {
        @include variable-penengah-jati-diri(80px, 30px);
        text-align: left;
        flex-direction: row-reverse;
        padding-bottom: 50px;

        .first-content {
            margin-left: 50px;
            width: 50%;

            h3 {
                font-size: 48px;
                margin-bottom: 0;
                line-height: 57px;
            }

            .sub {
                font-size: 18px;
                margin-top: 15px;
            }

            .first-address {
                display: flex;
                align-items: center;
                line-height: 28px;

                p {
                    margin-left: 15px;
                }
            }
        }

        .first-img {
            width: 430px;
            height: 400px;
        }
    }

    .second {
        @include variable-penengah-jati-diri(0, 0);
        padding-top: 50px;
        padding-bottom: 50px;

        h3 {
            font-size: 36px;
        }

        .second-social {
            margin-top: 80px;

            .social {
                width: 50px;
                height: 50px;
            }
        }
    }

    .map {
        iframe {
            height: 500px;
        }
    }
}
