@import '../variable/var.scss';

.footer-container {
    background-image: url('../../public/footer/bg-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: $text-header;
    display: flex;
    @include variable-penengah-jati-diri(10px, 0);
    padding-top: 60px;
    padding-bottom: 50px;
    justify-content: space-between;
    padding-right: 200px;

    .footer-first {
        margin-right: 20px;

        .bottom-text {
            font-family: $inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            margin-top: 10px;
        }
    }

    .footer-column {
        display: flex;
        flex-direction: column;
        margin-right: 20px;

        .footer-titles {
            font-family: $rubik;
            font-size: 20px;
            font-weight: 600;
        }

        .footer-item {
            display: flex;
            font-family: $rubik;
            color: white;
            margin-top: 20px;
            align-items: center;
            column-gap: 10px;
        }

        .link {
            transition: 0.3s;

            &:hover {
                opacity: 60%;
            }
        }
    }

}

.footer-copyright {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #282828;
    padding: 10px 0;
    font-family: $inter;

    .copyright {
        margin-left: 10px;
        font-size: 16px;
    }
}