@import "../variable/var.scss";

.container {
    height: 310px;
    width: 300px;
    position: relative;

    .img {
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 1;
        padding: 0;
    }

    .text {
        opacity: 0;
        display: block;
        background-color: white;
        position: absolute;
        bottom: 0;
        text-align: left;
        width: 280px;
        height: 141px;
        z-index: 2;

        h5 {
            color: $black;
            font-family: Rubik;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            padding: 0 15px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        hr {
            opacity: 0.1;
            padding: 0;
        }

        p {
            color: $text-desc;
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 28px;
            padding: 0 15px;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        height: 240px;
        width: 240px;
    }
}

@media only screen and (min-width: 1280px) {
    .container {
        height: 260px;
        width: 320px;
    }
}

@media only screen and (min-width: 1536px) {
    .container {
        height: 300px;
        width: 380px;
    }
}
