@import "../variable/var.scss";

.navbar-main {
	width: 100%;
	left: 0;
	top: 0;
	z-index: 13;
	position: fixed;
	transition: 0.3s;
	background-color: white;

	.navbar-img-red {
		display: block;
		position: relative;
		width: 36px;
		height: 34px;
	}

	.button-change {
		background: none;
		border: none;

		&.inactive {
			display: none;
		}
	}

	.exit {
		display: none;

		&.active {
			display: block;
			background: none;
			border: none;

			svg {
				fill: #656a78;
			}
		}
	}

	.button {
		fill: $text-desc;
	}

	.flex-container {
		@include variable-penengah-jati-diri-small(0, 0);
		padding-top: 10px;
		padding-bottom: 10px;
		margin: 0 25px;
		display: flex;
		justify-content: space-between;

		.container {
			display: flex;
			align-items: center;

			.nav-links {
				margin-left: 100px;
				display: flex;
				list-style: none;
				font-family: $inter;

				display: none;
			}

			.about-dropdown {
				display: none;
			}
		}

		.nav-side {
			display: none;
		}
	}

	&.active {
		box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.1);

		.navbar-img-red {
			display: block;
		}

		.button {
			fill: $main2;
		}

		.flex-container {
			.container {
				.nav-links {
					.nav-item {
						color: $black;

						&.active {
							color: $main2;

							&:after {
								background-color: $main2;
							}
						}
					}
				}
			}
		}
	}

	&.white {
		background-color: white;
	}
}

@keyframes expand {
	0% {
		height: 0;
	}
	100% {
		height: 300px;
	}
}

.nav-under-inactive {
	.nav-modals-inactive {
		display: none;
		top: 54px;
		position: fixed;
		width: 100%;
		height: 100vh;
		z-index: 12;

		&.active {
			display: block;
			background-color: white;
			padding-top: 10px;
			padding-bottom: 40px;
			height: 300px;
			animation: expand 0.2s;

			hr {
				opacity: 10%;
			}

			.nav-links-active {
				animation: 0.3s;
				margin: 10px 25px;
				display: flex;
				flex-direction: column;
				gap: 25px;

				.nav-items-active {
					text-decoration: none;
					font-family: $inter;
					font-style: normal;
					font-size: 16px;
					line-height: 19px;

					a {
						color: $text-desc;
					}

					.about-expand {
						display: none;

						&.active {
							display: block;

							.about-link {
								margin: 15px 0;

								&.about-link:last-child {
									margin-bottom: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}

.bg-nav-inactive {
	transition: 0.3s;
	display: none;

	&.active {
		display: block;
		height: 100vh;
		width: 100vw;
		position: fixed;
		background: rgba(0, 0, 0, 0.5);
		z-index: 11;
	}
}

@media only screen and (min-width: 1024px) {
	.navbar-main {
		.flex-container {
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}
}

@media only screen and (min-width: 1280px) {
	.navbar-main {
		padding-top: 15px;
		padding-bottom: 15px;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 10;
		position: fixed;
		transition: 0.5s;

		.navbar-img-red {
			display: block;
		}
		.button {
			display: none;
		}

		.button-change {
			display: none;
		}

		.flex-container {
			padding: 0;
			margin: 0 135px;
			display: flex;
			justify-content: space-between;

			.container {
				display: flex;
				align-items: center;

				.nav-links {
					margin-left: 100px;
					display: flex;
					align-items: center;
					list-style: none;
					font-family: $inter;
					height: 100%;

					.about-dropdown {
						width: 150px;
						display: none;
						padding: 20px;
						margin-left: 100px;
						list-style: none;
						font-family: $inter;
						text-decoration: none;
						background-color: white;
						top: 50px;
						left: 20%;
						z-index: 50;
						position: absolute;
						flex-direction: column;
						gap: 10px;

						a {
							color: $black;

							&:hover {
								opacity: 0.8;
							}
						}

						hr {
							opacity: 0.1;
							width: 100%;

							&:last-child {
								display: none;
							}
						}
					}

					.nav-item {
						position: relative;
						display: flex;
						align-items: center;
						margin-left: 20px;
						margin-right: 20px;
						text-decoration: none;
						transition: opacity 0.3s;
						color: $black;
						height: 100%;

						&.active {
							font-weight: 400;
							&:after {
								content: "";
								position: absolute;
								bottom: -6px;
								left: 0;
								width: 100%;
								height: 2px;
								background-color: $text-header;
							}
						}

						&:hover {
							opacity: 0.8;

							// + ul {
							//   display: block;
							// }
						}
					}
				}
			}

			.nav-side {
				position: relative;
				background-color: $black;
				padding: 15px 20px 15px 20px;
				border-radius: 100px;
				display: inline-block;
				text-decoration: none;
				transition: opacity 0.3s;
				color: $sub-text-header;
				font-family: $inter;
			}
		}

		&.active {
			background-color: white;
			box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.1);

			.navbar-img-white {
				display: none;
			}

			.navbar-img-red {
				display: block;
			}
			.flex-container {
				.container {
					.nav-links {
						.nav-item {
							color: $black;

							&.active {
								color: $main2;

								&:after {
									background-color: $main2;
								}
							}
						}
					}
				}
			}
		}
	}

	.bg-active {
		display: none;
	}
}

@media only screen and (min-width: 1536px) {
	.navbar-main {
		padding-top: 25px;
		padding-bottom: 25px;

		.flex-container {
			.container {
				.nav-links {
					.about-dropdown {
						left: 18%;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 1920px) {
  .navbar-main {
    padding-top: 25px;
    padding-bottom: 25px;

    .flex-container {
      .container {
        .nav-links {
          .about-dropdown {
            left: 14%;
          }
        }
      }
    }
  }
}

.style-hover {
	height: 100%;

	&:hover ul {
		display: flex !important;
	}
}
