@import "../variable/var.scss";

.container {
    height: 370px;
    width: 260px;
    background-color: white;
    padding: 15px 15px 15px 20px;

    .img {
        width: 100%;
        height: 170px;
        position: relative;
    }

    h3 {
        font-family: $rubik;
        font-size: 22px;
        margin: 15px 0 10px 0;
        color: $black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .description-text {
        height: 57px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-family: $inter;
        font-size: 16px;
        color: $text-desc;
        margin: 5px 0 10px 0;
    }

    .divider {
        opacity: 0.1;
        height: 1px;
        border-width: 0;
        color: $text-desc;
        background-color: $text-desc;
        margin-top: 40px;
    }

    .writer {
        font-family: $inter;
        font-size: 16px;
        color: $text-desc;
        margin-top: 30px;
    }

    &:hover {
        cursor: pointer;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        width: 280px;
    }
}
