@import "../../variable/var.scss";

.main-bg {
    @include variable-penengah-jati-diri-small(100px, 0);
    .article {
        text-align: center;
        h3 {
            color: $black;
            font-family: $rubik;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
        }
        hr {
            opacity: 0.2;
        }
        .app {
            margin-top: 20px;
            margin-bottom: 30px;
            font-family: $inter;
            display: flex;
            flex-direction: column;
            color: $black;
            background-color: $background;

            p {
                margin-top: 20px;
                color: $text-desc;
                font-size: 16px;

                &:first-child {
                    margin-top: 0;
                }
            }
            b {
                margin-top: 20px;
                margin-left: 5%;
                font-size: 18px;
                text-align: left;
            }
            .social {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                height: 100px;

                .copy {
                    width: 40px;
                    height: 40px;
                    background-image: url("././social/copy.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    text-decoration: none;
                    border: none;
                    color: white;
                    border-radius: 50%;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .wa {
                    width: 40px;
                    height: 40px;
                    background-image: url("././social/social-whatsapp.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    text-decoration: none;
                    border: none;
                    color: white;
                    border-radius: 50%;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .li {
                    width: 40px;
                    height: 40px;
                    background-image: url("././social/social-linkedin.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    text-decoration: none;
                    border: none;
                    color: white;
                    border-radius: 50%;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .fb {
                    width: 40px;
                    height: 40px;
                    background-image: url("././social/social-facebook.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    text-decoration: none;
                    border: none;
                    color: white;
                    border-radius: 50%;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        article {
            margin-top: 20px;
            margin-bottom: 20px;
            font-family: $inter;
            color: $text-desc;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 32px;
            text-align: justify;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .main-bg {
        display: flex;
        gap: 50px;
        @include variable-penengah-jati-diri(100px, 50px);

        .article {
            text-align: left;
            width: 60%;

            hr {
                display: none;
            }

            h3 {
                font-size: 36px;
            }

            .app {
                display: none;
            }
        }
        .app-responsive {
            margin-top: 60px;
            b {
                font-family: $rubik;
                margin-left: 5%;
                font-size: 18px;
                text-align: left;
            }
            .social {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                height: 100px;
                gap: 10px;

                .copy {
                    width: 40px;
                    height: 40px;
                    background-image: url("././social/copy.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    text-decoration: none;
                    border: none;
                    color: white;
                    border-radius: 50%;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .wa {
                    width: 40px;
                    height: 40px;
                    background-image: url("././social/social-whatsapp.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    text-decoration: none;
                    border: none;
                    color: white;
                    border-radius: 50%;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .li {
                    width: 40px;
                    height: 40px;
                    background-image: url("././social/social-linkedin.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    text-decoration: none;
                    border: none;
                    color: white;
                    border-radius: 50%;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .fb {
                    width: 40px;
                    height: 40px;
                    background-image: url("././social/social-facebook.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    text-decoration: none;
                    border: none;
                    color: white;
                    border-radius: 50%;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
